$mainColor: #1995ad;
$darkMainColor: #013f50;
$lightMainColor: #a1d6e2;
$greenColor: green;

$grayColor: #bcbabe;
$lightGrayColor: #e4e4e4;
$darkGrayColor: #6f6e6ffa;

$redColor: red;
$lightRedColor: #9a2f3b;
$darkRedColor: #b10212;

$purpleColor: #8a4f92;
$darkPurpleColor: #632e6b;

$whiteColor: #FFFFFF;
$blackColor: #000000;

$facebookColor: #3B5998;
$googleColor: #BD081C;